@use '../../scss/' as *;

.button-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;

    & + .button-container {
        margin-left: 8px;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 10px;
}

// Button type

.rounded {
    border-radius: 1000px;
    border-color: rgba(22, 24, 35, 0.12);
    color: rgba(22, 24, 35, 0.75);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: $white-color;
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: none;

    &:hover {
        border-color: transparent;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: $white-color;
    box-shadow: none;

    &:hover {
        border: 1px solid $primary-color;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 148px;
    padding: 14px 16px;
}

// Button status
.disabled {
    pointer-events: none;
    opacity: 0.5;
}
